@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&family=Open+Sans:wght@300;400;700&display=swap');

:root{
    --roxo-1: #6528F7;
    --roxo-2: #8D4BFF;
    --roxo-3: #B46CFF;
    --roxo-4: #DA8DFF;
    --branco: #F5F5F7;
    --preto: #1B1B1F;
    --rosa: #F300BA;
    --azul-marinho: #4EFCE0;

    --fonte: 'Montserrat', sans-serif;
}

body{
    background-color: var(--roxo-1);
    color: var(--preto);
    font-family: var(--fonte);
}

.left-box{
    background-color: var(--roxo-2) !important;
    color: var(--branco) !important;
}

.form-control:focus{
    color: var(--preto) !important;
    background-color: var(--branco) !important;
    border-color: var(--roxo-1) !important;
    box-shadow: 0 0 0 0.25rem var(--roxo-4) !important;
}

.botaoLogin{
    background-color: var(--roxo-2) !important;
    color: var(--branco) !important;
}