@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&family=Open+Sans:wght@300;400;700&display=swap');
:root{
    --roxo-1: #6528F7;
    --roxo-2: #8D4BFF;
    --roxo-3: #B46CFF;
    --roxo-4: #DA8DFF;
    --branco: #F5F5F7;
    --preto: #1B1B1F;
    --rosa: #F300BA;

    --fonte: 'Montserrat', sans-serif;
}

body{
    background-color: var(--roxo-1);
    color: var(--branco);
    font-family: var(--fonte);
}

.logo-navbar{
    background-color: var(--roxo-4) !important;
}

.logo-navbar a span{
    color: var(--roxo-1) !important;
}

.item-navbar a{
    color: var(--roxo-4) !important;
}

.item-navbar .active{
    font-weight: bold !important;
}

.dropdown-navbar{
    background-color: var(--roxo-1) !important;
}

.dropdown-navbar a:hover{
    background-color: var(--roxo-4) !important;
    color: var(--roxo-1) !important;
}

.botao{
    border: 1px solid var(--roxo-4) !important;
    color: var(--roxo-4) !important;
}

.menu-hamburguer{
    background-color: var(--roxo-4) !important;
}

.botao:hover{
    background-color: var(--roxo-4) !important;
    color: var(--roxo-1) !important;
}

.input-pesquisa:focus{
    border: 1px solid var(--roxo-1) !important;
    box-shadow: 0 0 0 0.25rem var(--roxo-4) !important;
}

.navbar-top{
    background-color: var(--roxo-1) !important;
}

.navbar-top .container-fluid .show{
    border-radius: 0px !important;
}

.header-quote{
    background-color: var(--roxo-1) !important;
    color: var(--branco) !important;
}

.quote{
    background-color: var(--roxo-4);
}

.header-card{
    background-color: var(--roxo-1) !important;
    color: var(--branco) !important;
}

.titulo-livro{
    font-size: 0.9rem !important;
}

.nome-autor, .generos{
    font-size: 0.8rem !important;
}

.nome-autor a{
    color: var(--roxo-1) !important;
    font-weight: 600 !important;
}

.generos a{
    color: var(--preto) !important;
    font-weight: bold !important;
    text-decoration-color: var(--roxo-2) !important;
    text-decoration-thickness: 2px !important;
    margin-right: 8px !important;
}

.divisor{
    border: none !important;
    border-top: 2px solid var(--roxo-2) !important;
}

::-moz-selection { /* Code for Firefox */
    color: var(--preto) !important;
    background: var(--rosa) !important;
}
  
::selection {
    color: var(--preto) !important;
    background: var(--rosa) !important;
}

.logoutBotao {
    color: var(--branco) !important;
}