@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&family=Open+Sans:wght@300;400;700&display=swap');
:root{
    --roxo-1: #6528F7;
    --roxo-2: #8D4BFF;
    --roxo-3: #B46CFF;
    --roxo-4: #DA8DFF;
    --branco: #F5F5F7;
    --preto: #1B1B1F;
    --rosa: #F300BA;
    --azul-marinho: #4EFCE0;

    --fonte: 'Montserrat', sans-serif;
}

body{
    background-color: var(--roxo-2);
    background-image: linear-gradient(to left bottom, #6528f7, #6d2ff8, #7536fa, #7d3dfb, #8443fd, #8b48fe, #924efe, #9853ff, #a059ff, #a75fff, #ae66ff, #b46cff);
    background-size: cover;
    color: var(--branco);
    font-family: var(--fonte);
}

.logo-navbar{
    background-color: var(--rosa);
}

.logo-navbar a span{
    color: var(--branco) !important;
}

.item-navbar a{
    color: var(--branco) !important;
}

.item-navbar a:hover{
    color: var(--rosa) !important;
}

.item-navbar .active{
    font-weight: bold !important;
}

.dropdown-navbar{
    background-color: var(--roxo-1) !important;
}

.dropdown-navbar a:hover{
    background-color: var(--roxo-4) !important;
    color: var(--roxo-1) !important;
}

.botao{
    border: 3px solid var(--rosa) !important;
    color: var(--branco) !important;
}

.menu-hamburguer{
    background-color: var(--roxo-4) !important;
}

.botao:hover{
    background-color: var(--branco) !important;
    color: var(--rosa) !important;
}

.input-pesquisa:focus{
    border: 1px solid var(--roxo-1) !important;
    box-shadow: 0 0 0 0.25rem var(--rosa) !important;
}

.navbar-top{
    background: none !important;
    border: var(--rosa) 3px solid !important;
    box-shadow: -1rem 0 3rem var(--preto);
}

.navbar-top .container-fluid .show{
    border-radius: 0px !important;
}

.header-quote{
    background-color: var(--roxo-1) !important;
    color: var(--branco) !important;
}

.quote{
    background-color: var(--roxo-2);
    color: var(--branco);
}

.blockquote-footer{
    color: var(--preto) !important;
}

.header-card{
    background-color: var(--roxo-1) !important;
    color: var(--branco) !important;
}

.titulo-livro{
    font-size: 0.9rem !important;
}

.nome-autor, .generos{
    font-size: 0.8rem !important;
}

.nome-autor a{
    color: var(--roxo-1) !important;
    font-weight: 600 !important;
}

.generos a{
    color: var(--preto) !important;
    font-weight: bold !important;
    text-decoration-color: var(--roxo-2) !important;
    text-decoration-thickness: 2px !important;
    margin-right: 8px !important;
}

.divisor{
    border: none !important;
    border-top: 2px solid var(--roxo-2) !important;
}

::-moz-selection { /* Code for Firefox */
    color: var(--preto) !important;
    background: var(--rosa) !important;
}
  
::selection {
    color: var(--preto) !important;
    background: var(--rosa) !important;
}

.logoutBotao {
    color: var(--branco) !important;
}

.label-menu{
    padding: 1.5rem;
    border-radius: 16px;
    background: var(--rosa);
    color: var(--preto);

    margin-right: 1rem;
    min-width: none;
    height: 250px;

    transition: scale 1s ease, box-shadow 1s ease, background-color 0.5s ease;
    text-overflow: clip;
}

.label-menu span{
    word-wrap: break-word;
}

.label-menu:hover{
    box-shadow: -1rem 0 3rem var(--preto);
    background-color: var(--branco);
    scale: 1.05;
    
}

.label-menu a{
    width: fit-content;
}

.label-menu:not(:hover) > a{
    display: none;
}

.label-menu:hover > a{
    display: block;
}

.label-menu-botao{
    background-color: var(--preto);
    fill: var(--branco);
    transition: all 0.5s ease;
}

.label-menu-botao:hover{
    background-color: var(--preto);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.label-menu-botao:active{
    background-color: var(--branco);
    fill: var(--preto);
    transform: translateY(-3px);
}


@media (max-width: 991.98px) {
    .label-menu span{
        font-size: 2rem;
    }
}